@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Poppins:wght@700&display=swap');
.footer-heading{
    font-size: 30px;
    color: #fff;
    font-weight: 700;
    margin-bottom: 30px;
}
a {
    color: #fff;
    text-decoration: none;
    background-color: transparent;
}
.footer-07 .menu{
    margin-bottom: 30px;
}
.footer-07 .menu a{
    color: rgba(255,255,255,.6);
    margin: 0 10px;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.ftco-footer-social li{
    list-style: none;
    margin: 0 10px 0 0;
    display: inline-block;
}
.nav-link {
    font-family: 'Inter', sans-serif;
    text-decoration: none;
    color: #f0f008c9;
}